@font-face {
  font-family: pp;
  src: url(../sections/PPNeueMontreal-Book.otf);
}

.expandableSection {
    border-top: .1rem solid #4a4a4a;
    border-bottom: .1rem solid #4a4a4a;
    padding: 1rem 0;
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .number {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .title {
    flex: 1;
    font-family: pp;
  }
  
  .toggleIcon {
    font-size: 2.4rem;
  }
  
  .content {
    margin-top: 1.5rem;
    color: #949690;
  }
  
  .content p {
    margin-bottom: 1rem;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
  
  .tags span {
    background-color: #353535;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #FFFFFF;
  }
  