
.customButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #333; 
    border-bottom: 1.5px solid #333; 
    padding-bottom: 2px;
    transition: color 0.3s ease, border-color 0.3s ease;
    z-index: 1001;
  }
  
  .customButton::after  {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .customButton:hover::after  {
    
    transform: scaleX(1);
    transform-origin: bottom left;
    border-bottom: darkturquoise; 
    
    
      
      
  
  }

  
  
  .customButton svg {
    margin-left: 15px; 
    transition: transform 0.3s ease;
  }
  
  .customButton:hover svg {
    transform: translateX(10px); 
  }
  
/* 
  @media(max-width:360px){
    .customButton{
      font-size: 10px;
    }
  } */