.counter{
    display: flex;
    justify-content: center;
    margin-left: -120rem;
    margin-top: 20rem;
    font-size: 2rem;
    font-family: pp;
    color: #fff;
}


.boxContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .box {
    width: 260px;
    height: 150px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
    border: 1px solid #444;
    transition: all 0.3s ease;
  }
  
  .box:hover {
    border-color: white;
  }
  
  .box img {
    width: 5rem;
    height: 5rem;
    margin-top: 00rem;
  }
  
  
  .box:hover img {
    width: 7rem;
    height: 7rem;
    margin-top: 00rem;
    transition: all 0.3s ease-in-out;
  }
  
  .selected-box {
    width: 260px;
    height: 150px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
    border: 1px solid #444;
    border-top:  3px solid white ;
    /* transform: scaleX(0); */
    transform: border(1);
    transform-origin: bottom right;
    transition: transform 1s ease-out;
    /* overflow: hidden; */
    img{
      width: 7rem;
      height: 7rem;
    }
  }




  