@font-face {
  font-family: PPNeueMontreal;
    src: url(./PPNeueMontreal-Book.otf);
  font-family: subscribe;
  src: url(./founders-grotesk-x.cd2d353.woff2);
}


.main{
  background-color: #E5E7DF;
}

.paragragh {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 10rem;
    margin-left: -90rem;
    font-size: 2rem;
    color: #1e1e1e;
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
  position: relative;
  /* margin-left: 48rem; */
  margin-left: 270rem;
  margin-top: -28rem;
  /* height: 20rem;
  width: 55rem; */
  font-size: 1.44rem;
  color: #1e1e1e;
  font-family: PPNeueMontreal;
}

.move {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.subscribe {
  display: flex;
  margin-top: -23rem;
}

.subscribe h1 {
  font-size: 30rem;
  color: #1e1e1e;
  font-family: subscribe;
  cursor: default;
}

.subscribe img {
  width: 26.5rem;
  height: 19rem;
  margin-top: 23rem;
  cursor: default;
}

@media (max-width: 1400px) {
  .heading {
    margin-left: 55rem;
    margin-top: -34rem;
    font-size: 2.3rem;
  }
  .paragragh {
    margin-left: -100rem;
    font-size: 2rem;
  }
}
@media (max-width: 1350px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 76rem;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 70rem;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 65rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 65rem;
  }
}
@media (max-width: 1150px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 60rem;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 55rem;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 45rem;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 75rem;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 75rem;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 67rem;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 45%;
  }
  .heading {
    margin-left: 60rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
  .paragragh {
    margin-top: 30rem;
  }
  .heading {
    margin-left: 70rem;
  }
}
@media (max-width: 740px) {
  html {
    font-size: 35%;
  }
  .paragragh {
    margin-top: 60rem;
  }
  .heading {
    margin-left: 65rem;
  }
}
@media (max-width: 690px) {
  html {
    font-size: 35%;
  }
  .paragragh {
    margin-top: 60rem;
  }
  .heading {
    margin-left: 60rem;
  }
}
@media (max-width: 670px) {
  html {
    font-size: 35%;
  }
  .paragragh {
    margin-top: 60rem;
  }
  .heading {
    margin-left: 50rem;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 35%;
  }
  .paragragh {
    margin-top: 60rem;
  }
  .heading {
    margin-left: 45rem;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 30%;
  }
  .heading {
    margin-left: 60rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 30%;
  }
  .heading {
    margin-left: 55rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
  .heading {
    margin-left: 45rem;
  }
}
@media (max-width: 450px ) {
  .subscribe {
    display: flex;
    position: absolute;
    margin-top: -90rem;
  }
  
  .subscribe h1 {
    font-size: 30rem;
    color: #1e1e1e;
    font-family: subscribe;
    cursor: default;
  }
  
  .subscribe img {
    width: 26.5rem;
    height: 19rem;
    margin-top: 23rem;
    cursor: default;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-direction: column; */
  /* position: relative; */
  
  margin-left: 0rem;
  margin-top: -28rem;
  /* height: 20rem;
  width: 55rem; */
  font-size: 3rem;
  color: #1e1e1e;
  font-family: PPNeueMontreal;
}
}

