main{
    height: 100%;
    width: 100%;
    position: relative;
    
}

.main img{
    /* position: absolute;  */
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -11110rem;
    /* padding-bottom: 40rem; */
    /* padding-top: 20rem; */
    z-index: -999;
}

h1 {
    margin-top: 20rem;
}