@font-face {
    font-family: pp;
    src: url(./PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: founders;
    src: url(./founders-grotesk-x.cd2d353.woff2);
}

.main{
    position: relative;
    background-color: #E5E7DF;
    margin-top: -20rem;
    z-index: 70;
}


.bo_02{
    /* margin-left: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22rem;
    font-size: 2rem;
    padding-top: 3rem;
    font-family: pp;
    color: #1E1E1E;
}

.bo_02 h5{
    margin-left: 35rem;
}



img{
    
    width: 40rem;
    height: 27rem;
    /* margin-top: -00rem; */
}

.parent_image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    position: absolute;
    /* padding-bottom: -90rem; */
    margin-bottom: 107rem;   
    margin-left: 50rem;
}


/* 
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21rem;
    font-family: founders;
    color:#1E1E1E;
    
    } */
.creative{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 43rem;
    font-family: founders;
    /* margin-top: -10rem; */
    color:#1E1E1E;
}

.with{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 43rem;
    font-family: founders;
    margin-top: -18rem;
    margin-left: -61rem;
    color:#1E1E1E;
}

.no_fluff{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 43rem;
    font-family: founders;
    margin-top: -18rem;
    margin-left: 10rem;
    color:#1E1E1E;
}